{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "recipes/partials/head.html" %}
    {% block addtional_links %}{% endblock addtional_links %}
    <title>{% block title %}{% endblock title %} Recipes</title>
</head>
<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}
    {% block content %}{% endblock content %}
    {% include "recipes/partials/footer.html" %}
    <script src"{% static "recipes/js/app.js" %}"></script>
</body>
</html>