{% load static %}

<div class="recipe-card flex flex-column">
    <div class="recipe-card-image-container">
        <!-- Image -->
         {% comment %} Placeholder image {% endcomment %}
         <a href="{% url "recipes:recipe" recipe.id %}">
            {% if recipe.cover %}
            <img src="{{recipe.cover.url}}" alt="cover for {{recipe.title}}">
            {% else %}
                <img src="{% static "recipes/img/default.webp" %}" alt="cover for {{recipe.title}}">
            {% endif %}
         </a>
    </div>
    <div class="recip-card-data-wrapper grid">
        <div class="recipe-card-info grid">
            <h3 class="recipe-title">{{recipe.title}}</h3>
            <div class="recipe-card-meta-data flex">
                <p class="recipe-card-user">
                    <i class="fa-solid fa-user"></i>
                    <span class="recipe-card-user-name">
                        <a href="">{{recipe.user.username|title}}</a>
                    </span>
                </p>
                <p class="recipe-card-publish-date">
                    <i class="fa-solid fa-calendar"></i>
                    <span class="recipe-card-publish-date">{{recipe.updated_at}}</span>
                </p>
                <p class="recipe-card-category">
                    <i class="fa-solid fa-layer-group"></i>
                    <span class="recipe-card-category">
                        <a href="{% url "recipes:category" recipe.category.id %}">{{recipe.category.name}}</a>
                    </span>
                </p>
            </div>
            <p class="recipe-card-description">
                {{recipe.description|truncatewords:20}}
            </p>
        </div>
        <div class="recipe-card-preparation-info flex">
            <p class="recipe-card-preparation-time flex flex-column">
                <span><i class="fa-solid fa-clock"></i> preparation</span>
                <span class="recipe-card-preparation-time">
                    <span class="prep-time-format">{{recipe.preparation_unit|truncatewords:3}}</span>
                    <span class="prep-time">{{recipe.preparation_time}}</span>
                </span>
            </p>
            <p class="recipe-card-portions flex flex-column">
                <span><i class="fa-solid fa-pizza-slice"></i> Servings</span>
                <span class="recipe-card-portions-amount">{{recipe.servings_count}} {{recipe.servings_unit}}</span>
            </p>
        </div>
    </div>
    {% if is_detail_page is not True %}
        <a href="{% url 'recipes:recipe' recipe.id %}" class="recipe-card-more-info">
            <i class="fa-solid fa-eye"></i>
            <span>More info</span>
        </a>
    {% endif %}
    {% if is_detail_page is True %}
        <div class="preparation-steps">
            <h3>Preparation steps</h3>
            <p>
                {{recipe.preparations_steps|linebreaksbr}}
            </p>
        </div>
    {% endif %}
</div>